.quiz-card {
  background-color: rgb(169, 168, 201);
  display: grid;
  grid-gap: 12px;
  justify-content: center;
  row-gap: 10px;
  max-width: 300px;
  position: relative;
  padding: 20px 20px 10px;
  box-shadow: 8px 8px rgba(78, 78, 78, 0.2);
  border-radius: 8px;
  margin: 16px 0;
}

.quiz-card__headline {
  font-size: 22px;
}

.quiz-card__bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
  border: 20px solid rgb(72, 71, 102);
  border-bottom-color: transparent;
}

.quiz-card__bookmark--selected {
  border: 20px solid rgb(233, 233, 158);
  border-bottom-color: transparent;
}

.quiz-card__text {
  margin: 0 auto 40px;
}

.quiz-card__button {
  width: fit-content;
  position: absolute;
  left: 100px;
  bottom: 58px;
  border-radius: 6px;
  border-color: grey;
  background-color: rgb(72, 71, 102);
  color: beige;
}

.quiz-card__list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 3px;
}

.quiz-card__list-element {
  background-color: rgb(233, 233, 184);
  padding: 0 15px;
  border-radius: 6px;
  font-variant-caps: all-petite-caps;
  line-height: 20px;
}
