.app-header {
  background: rgb(72, 71, 102);
  color: rgb(245, 245, 245);
  width: 100%;
}

.app-header__heading {
  font-weight: normal;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
